<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<style>
 .fieldError {
 border-color: #bd2130;
 }
</style>
<body>
<div class="container">
  <div th:replace="fragments/bodyHeader :: bodyHeader"/>
  <form role="form" action="/members/new" th:object="${memberForm}" method="post">
    <div class="form-group">
      <label th:for="name">이름</label>
      <input type="text" th:field="*{name}" class="form-control" placeholder="이름을 입력하세요"
             th:class="${#fields.hasErrors('name')}? 'form-control fieldError' : 'form-control'">
      <p th:if="${#fields.hasErrors('name')}"
         th:errors="*{name}">Incorrect date</p>
    </div>
    <div class="form-group">
      <label th:for="city">도시</label>
      <input type="text" th:field="*{city}" class="form-control" placeholder="도시를 입력하세요">
    </div>
    <div class="form-group">
      <label th:for="street">거리</label>
      <input type="text" th:field="*{street}" class="form-control" placeholder="거리를 입력하세요">
    </div>
    <div class="form-group">
      <label th:for="zipcode">우편번호</label>
      <input type="text" th:field="*{zipcode}" class="form-control" placeholder="우편번호를 입력하세요">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <br/>
  <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>

<!--
1. th:object 를 이용하여 화면에서 객체를 이용할 수 있게 함
model.addAttribute("key", value) 에서 key 값을 쓰게 된다
-->

<!--
2. th:field는 id, name, value 값을 채워주는 역할을 한다.
id, name은 객체의 필드명과 일치하게 생성되며 value는 model.addAttribute에서 들어온 값이 적용된다.
-->

<!--
3. #fields.hasErrors : 'name'에 에러가 있으면 form-control에 fieldError를 추가로 적용한 것이다.
실제 <style>에 .fieldError가 테두리에 적용되는 것이므로 에러가 발생하면 붉은 색 테두리로 변한 것이다.
-->

<!--
4. th:errors="*{name}"에서 에러가 발생하면 name 필드에 대한 에러 메시지를 적용한다.
-->